<section class="main">
    <div class="main-box">
        <!--<app-header></app-header>-->
        <div class="container-fluid">
            <div class="row">
              <!-- First column with fixed width of 20vw -->
              <div class="col-3 col-md-2 d-flex flex-column justify-content-between" style="border-right:solid 1px #eaeaea;"><!--#eaeaea;-->
                <app-left-part></app-left-part>
                <div class="bottom">
                  <div class="d-flex justify-content-between align-items-center p-2" style="border-top: solid 1px #eaeaea;">
                    <div><img class="user-avatar me-1" src="../assets/avatar.png" [alt]="userDisplayName">

                      <b style="font-size: small; color:#525151;">Jacob Jones</b></div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                  <div class="d-flex justify-content-between align-items-center p-2">
                    <div><p style="font-size: smaller; color: #868686;"><b>8:25 AM</b><br><span style="font-size: x-small;">FEB 27, 2022</span></p></div>
                    <i class="fa fa-check-circle" style="color: #8a8a8a;" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col px-0" >
                <app-right-part></app-right-part>
              </div>
            </div>
          </div>
        <!--
        <section>
            <mat-drawer-container class="example-container">
                <mat-drawer mode="side" opened class="left"><app-left-part></app-left-part></mat-drawer>
                <mat-drawer-content>Main content</mat-drawer-content>
            </mat-drawer-container>
          </section>
        --> 
    </div>
  
</section>
