<div class="top">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-12">
               <p class="fs-5"><b>Task List</b></p>
              </div>
              <!-- Center column -->
              <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="d-flex align-items-center">
                    <div class="rounded-3 me-1 px-2 py-1" style="border:solid 1px #eaeaea; background-color: #de502d; color:white;">
                    <i class="fa fa-clock-o me-1" aria-hidden="true"></i>2</div>
                    <section class="example-section me-4">
                    <span class="rounded p-2 toggle" style="border: solid 1px #eaeaea; color:#686868;">
                        Show&nbsp;Completed&nbsp;Tasks&nbsp;
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </span>
                    </section>
                    <div class="rounded me-2 " style="border:solid 1px #eaeaea; ">
                        <div class="btn-group" style="height:30px;">
                            <button class="btn  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#686868;">
                            <b>Everyone</b>
                            </button>
                            <ul class="dropdown-menu">
                            <li>first</li>
                            </ul>
                        </div>
                      </div>
                      <div class="rounded me-2" style="border:solid 1px #eaeaea; ">
                        <div class="btn-group" style="height:30px;">
                            <button class="btn  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#686868;">
                            <b>Today</b>
                            </button>
                            <ul class="dropdown-menu">
                            <li>first</li>
                            </ul>
                        </div>
                      </div>
                      <div class="rounded" style="border:solid 1px #eaeaea; ">
                        <div class="btn-group" style="height:30px;">
                            <button class="btn  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#686868;">
                            <b>Filter Task</b>
                            </button>
                            <ul class="dropdown-menu">
                            <li>first</li>
                            </ul>
                        </div>
                      </div>
                  </div>
              </div>
              <!-- Right column -->
              <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="example-button-row float-end">
                    <button mat-raised-button style="background-color: #50a7a7; color:white;">
                        <i class="fa fa-plus me-1" aria-hidden="true"></i>
                        ADD TASK</button>
                     </div>
              </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<app-main></app-main>
<app-task2></app-task2>