.example-button-row{
    float: right;
}
.title{
    text-align: left;
}
mat-divider{
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.12);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #7cf27c !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #478b47 !important;
}
  
@media only screen and (max-width: 600px){
    .example-button-row{
        float: none;
        margin-top:15px;
    } 
    .title{
        text-align: center;
    }
    .second{
        margin-top: 10px;
    }
}