<section class="wrapper m-2 rounded">
    
    <mat-grid-list cols="8"  rowHeight='7:5' >
        <mat-grid-tile>
            <span class=" p-2" style="background-color: #2c323c; color:#418e37; height:50px; width:50px; border-radius: 10px;">
                <!--<i class="fa fa-bell fa-2x" aria-hidden="true"></i>-->
                <i class="fa fa-circle-o-notch fa-2x" aria-hidden="true"></i>
            </span>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="mt-2" style="color:#b9b9b9; font-size: smaller;"><b>TASK DATE</b><br>
            <b style="color: black; font-size:20px;">MAR 14</b></p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="mt-2" style="color:#b9b9b9; font-size: smaller;"><b>TASK START TIME</b><br>
            <b style="color: black; font-size:20px;">8:30 Pm</b></p>
       </mat-grid-tile>
       <mat-grid-tile> 
            <p style="color:#b9b9b9; font-size: smaller;"><b>DOOR CODE</b><br>
            <b style="color: black; font-size:15px;">1776</b></p>
        </mat-grid-tile>
        <mat-grid-tile> 
            <p style="color:#b9b9b9; font-size: smaller;"><b>GATE CODE</b><br>
            <b style="color: black; font-size:15px;">2345</b></p>
        </mat-grid-tile>
        <mat-grid-tile> 
            <p style="color:#b9b9b9; font-size: smaller;"><b>DIFFICULT PARKING</b><br>
            <b style="color: black; font-size:15px;">Yes</b></p>
        </mat-grid-tile>
        <mat-grid-tile> 
            <p  style="color:#b9b9b9; font-size: smaller;"><b>RESTRICTED ACCESS</b><br>
            <b style="color: black; font-size:15px;">No</b></p>
       </mat-grid-tile>
      </mat-grid-list>
    <div class="d-flex align-items-center">
        <p><i class="fa fa-envelope-open-o ms-4 me-2" style="color: #b9b6b6;" aria-hidden="true"></i><b>The Holy House Project - Ac Fitting</b></p>
        <p class="rounded-pill px-2 mx-2" style="background-color: #efefef; color:#8a8a8a;">01850000</p>
        <p style="color: #b9b6b6;"><i class="fa fa-question-circle-o" aria-hidden="true"></i></p>    
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>PROJECT</b></p>
                <div class="row" style="font-size:smaller;">
                    <div class="col"><i class="fa fa-user-circle-o me-1" style="color: #b9b6b6;" aria-hidden="true"></i>
                        <b style="color:#525151;">Cameron&nbsp;William<br><i class="fa fa-suitcase me-2" aria-hidden="true" style="color: #b9b6b6;"></i>Composite Roofing</b>
                    </div>
                    <div class="col"><i class="fa fa-tag me-2" aria-hidden="true" style="color: #b9b6b6;"></i><b style="color:#525151;">Referral<br><i class="fa fa-sticky-note me-2" aria-hidden="true" style="color: #b9b6b6;"></i>Active</b></div>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>CONTACT</b></p>
                <div class="row" style="font-size:smaller;">
                    <div class="col"><i class="fa fa-phone me-2" style="color: #dc8124;"></i><b style="color:#525151;">(907)555-0101</b></div>
                    <div class="col"><i class="fa fa-envelope me-2" style="color:#dc8124;"></i><b style="color:#525151;">example@gmail.com</b></div>
                </div>
                <i class="fa fa-map-marker me-2" aria-hidden="true" style="color:#dc8124;"></i><b style="font-size:smaller; color:#525151;" >4501 Washington Ave, Kentuky,39495</b>
            </div>
            <div class="col-lg-3">
                <p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>TASK DAY</b></p>
                <p style="font-size:smaller;  color:#525151;"><b>Task Day 1/4</b></p>
            </div>
        </div>
    </div>
    <div class="mx-2 my-2">
        <mat-divider></mat-divider>
    </div>
    <section class="main-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 p-0" >
                    <div class="d-flex justify-content-around">
                        <div><p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>DURATION</b></p>
                            <span class="rounded p-1" style="border:solid 2px lightgrey; color:#525151; background-color: #f8f8fa;"><b>2 Hours</b></span></div>
                        <div>
                            <p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>PROJECT MANAGERS</b></p>
                            <img class="user-avatar me-1" src="../assets/avatar1.png" alt="userDisplayName">
                        </div>
                        <div>
                            <p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>ESTIMATORS</b></p>
                            <img class="user-avatar me-1" src="../assets/avatar2.png" alt="userDisplayName">
                        </div>
                        <div>
                            <p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>ASSIGNED WORKERS</b></p>
                            <img class="user-avatar me-1" src="../../assets/multiple.png" alt="userDisplayName">
                        </div>
                        <div><p class="mt-2" style="color:#a09f9f; font-size: smaller;"><b>COMMENTS</b></p>
                        <p style="font-size: small; color:#8d8c8c;"><i class="fa fa-comments-o me-2" style="font-size: medium;"></i><b style="border-bottom: solid 2px #8d8c8c;">See 24 Comments</b></p></div>
                    </div>
                    <div>
                        <p class="mt-5 ms-3" style="color:#a09f9f; font-size: smaller;"><b>NOTES</b></p>
                        <ul style="font-size:smaller;  color:#6e6d6d; font-weight: bold;">
                            <li>installation of a traditional mud pan system to include a curb,pre-slope,<br>PVC liner and 3 part chain</li>
                            <li>Supply and install compressed cement based on walls</li>
                            <li>Application of paint on waterproofing membrance</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-lg-3 p-0">
                    <div>
                    <p class="ms-2 mb-0" style="color:#a09f9f; font-size: smaller;"><b>STEPS</b></p>
                    <mat-checkbox class="example-margin p-0" style="color:#a09f9f;"><b style="font-size:smaller;  color:#525151;">Take&nbsp;Before&nbsp;Picture</b></mat-checkbox>
                    <mat-checkbox class="example-margin p-0" style="color:#a09f9f;"><b style="font-size:smaller;  color:#525151;">Complete&nbsp;The&nbsp;Work</b></mat-checkbox>
                    <mat-checkbox class="example-margin p-0" style="color:#a09f9f;"><b style="font-size:smaller;  color:#525151;">Take&nbsp;After&nbsp;Picture</b></mat-checkbox>   
                    <p class="ms-2"><b style="font-size:smaller;  color:#6e6d6d;">Mark All Steps Complete</b><mat-slide-toggle
                    class="example-margin"
                    [color]="color">
                </mat-slide-toggle></p>
                </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div><i class="fa fa-angle-up me-1" aria-hidden="true"></i><b  style="font-size:12px;  color:#8f8e8e; font-weight: bold;"> SHOW LESS DETAILS</b></div>
            </div>
        </div>
    </section>
    
    <!--<mat-progress-spinner class="custom-spinner rounded" color="warn" [value]="60" style="width:45px; height:45px; background-color:rgb(206, 237, 245); color:#418e37"></mat-progress-spinner>
    -->
</section>