section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
h2{
font-size: 30px;
text-align: center;

}
.box{
  border-radius: 10px;
  padding: 20px;
  width:80vw;
  background-color:#fdbe70;
}
.Add{
  padding: 10px;
  border:none;
  border-radius: 10px;
  background-color: #201b1a;
  color:white;
  font-weight: 500;
  margin-bottom: 10px;
}
.progress {
  background-color: #e9ecef;
  height: 15px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  background-color: #5c5b5b;
  height: 100%;
}
label{
  font-size: medium;
  font-weight: 500;
}
input{
  margin-bottom: 10px;
  border-radius: 5px;
  border:none;
}
