<app-header></app-header>
<div class="container">
    <div class="post-content">
        <h2>Welcome to the Home Page</h2>
        <div class="cards">
            <div class="card">
                <h3>want to view projects?</h3>
                <button class="Add" (click)="project()">click Me</button>
            </div>
            <div class="card">
                <h3>want to view skills?</h3>
                <button class="Add" (click)="skills()">click Me</button>
            </div>
            <div class="card">
                <h3>Do You want to Logout?</h3>
                <button class="Add" (click)="Logout()">click Me</button>
            </div>
        </div>
    </div>
</div>
