.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-content{
    border: solid 2px black;
    margin: 20px;
    border-radius: 20px;
    padding:50px 80px;
    width:65vw;
    background-color: #fdbe70;
}
h2{
    text-align: center;
}
.cards{
    display:flex;
    justify-content: center;
}
.card{
    border: solid black 2px;
    border-radius: 10px;
    width: fit-content;
    padding:10px;
    margin:10px;
}
.Add{
    padding: 10px;
    border:none;
    border-radius: 10px;
    background-color: #201b1a;
    color:white;
    font-weight: 500;
    margin-bottom: 10px;
  }
