    <section class="mb-3">
        <div class="left">
            <i class="fa fa-circle" style="color:#e76660;"></i>
            <i class="fa fa-circle" style="color:#eebe57;"></i>
            <i class="fa fa-circle" style="color:#6ac45c;"></i>  
            <i class="fa fa-columns ms-4"  aria-hidden="true"></i>
            <i class="fa fa-angle-left ms-3" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="center">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <span class="mid"><i class="fa fa-lock" aria-hidden="true"></i>
                <b style="color:#8a8a8a;">service-design.co</b>
                <i class="fa fa-repeat" aria-hidden="true"></i></span>
        </div>
        <div class="right">
            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
            <i class="fa fa-upload" aria-hidden="true"></i>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-clone" aria-hidden="true"></i>
        </div>
    </section>
    <mat-divider></mat-divider>


